html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #06101e;
  overflow: hidden;
}
body {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: none;
}
#game {
  position: absolute;
  left: 0;
  top: 0;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  background: #06101e;
  outline: none;
}
